@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf");
  }

header{
   color: white;
   background-image:url("../img/articles/suzette/suzette-small.jpg");
   background-size: cover;
   box-shadow: 0 0 0 768px rgba(0,0,0,0.8) inset;
   background-position: center;
   font-family: "Courgette";
   height: 50vh;
   display: flex;
   flex-direction: column;
}

@media (min-width: 768px) and (max-width:991px){
  header{
    color: white;
    background-image:url("../img/articles/suzette/suzette-header.jpg");
    background-size: cover;
    box-shadow: 0 0 0 768px rgba(0,0,0,0.8) inset;
    background-position: center;
    font-family: "Courgette";
    height: 50vh;
    display: flex;
    flex-direction: column;
 }
}


@media (min-width: 992px){
}